<app-header></app-header>

<body class="defult-home">
    <div class="main-content">
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Staff Details</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Staff Details</li>
                </ul>
            </div>
        </div> -->
        <style>
            p {
                text-align: justify;
            }
        </style>
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-80 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-12 md-mb-10 mt-10">
                        <ul class="nav nav-tabs intro-tabb tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#about" role="tab" aria-controls="about"
                                    aria-selected="true">About</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Vision-Mission" role="tab" aria-controls="Vision-Mission"
                                    aria-selected="false">Vision & Mission</a>
                            </li>
                        </ul>
                        <div class="intro-info-tabs">
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="about" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                                                        <div class="img-part js-tilt">
                                                            <img src="assets/images/cems/about.jpg" alt="The journey of Charotar
                                                            English Medium School">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                                                        <div class="sec-title2">
                                                            <h2 class="title purple-color mb-30">
                                                                History
                                                            </h2>
                                                            <div><span class="bold-text mb-22">The journey of Charotar
                                                                    English Medium School</span>
                                                                <p class="desc mb-45">commenced with 15 students in
                                                                    junior KG on 11 June 1998 in the premise of Sardar
                                                                    Patel Balshala at khetiwadi Campus. With the
                                                                    increasing strength of our students and necessity of
                                                                    space, the school was housed in independent premises
                                                                    named Vitthal Kaka Bhavan in 2005. With the constant
                                                                    support of our stake holders and the management, the
                                                                    school has reflected exponential growth and so a new
                                                                    building came into existence with ultra modern
                                                                    infrastructure in 2011. At present CEMS offers
                                                                    English Medium education from Pre – Primary to
                                                                    Higher Secondary (Science & Commerce Streams). Our
                                                                    students have brought laurels by scoring 100% Result
                                                                    in board examination. CEMS truly is an institution
                                                                    with a difference with affordable fees for providing
                                                                    quality education!
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="sec-title2">
                                                        <h2 class="title purple-color mb-30">
                                                            Why Choose Our School?
                                                        </h2>
                                                        <div>
                                                            <p class="desc mb-45">
                                                                <span class="bold-text mb-22">Charotar English Medium
                                                                    School</span> is one of the strongest
                                                                branches of a very
                                                                prestigious and renowned institution <b>CHAROTAR
                                                                    EDUCATION
                                                                    SOCIETY</b>
                                                                which has been educating the generations for more than
                                                                100 years in Charotar
                                                                region. We provide a safe, effective learning
                                                                environment that enables each
                                                                individual to reach his or her greatest potential
                                                                through ample opportunities to
                                                                excel.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Vision-Mission" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4 class="title purple-color mb-30">Vision</h4>
                                                <ul class="review-list">
                                                    <li>To create an environment in which students can use their maximum
                                                        potential to
                                                        compete with this rapidly changing world.</li>
                                                </ul>

                                                <h4 class="title purple-color mb-30">Mission</h4>
                                                <ul class="review-list">
                                                    <li>To enable students to be confident, responsible, caring and
                                                        resourceful for
                                                        lifelong learning.</li>
                                                    <li>To inculcate human values along with quality education.</li>
                                                    <li>To train students well in developing communication skills,
                                                        problem solving skill,
                                                        team work and flexibility.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<app-footer></app-footer>